.header {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
}

.button {
  height: 48px;
}

smart-chart {
  width: 100%;
  /*max-width: 1850px;*/
}

.small-button {
  border-width: 1px !important;
  margin-bottom: 16px;

}


.button-pressed-my {
  background: #343a40;
  color: #fff;
}
