.list-group-header {
  background-color: inherit;
  border: 0;
  font-size: 14px !important;
  color: #999999;
  padding-bottom: 0;
  margin-bottom: 0 !important;
}

.list-group-item {
  margin-bottom: 9px;
  border-top-width: 1px;
  font-size: 16px;
}

.button {
  height: 48px;
}

.small-button {
  border-width: 1px !important;
  line-height: 0 !important;
}

.link-hover:hover {
  cursor: pointer;
}
