<p>simulation-list-page works!</p>
<div class="container mt-2">

  <!-- breadcrump -->
  <div class="row">
    <nav aria-label="breadcrumb" class="col-10">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Simulations list</li>
      </ol>
    </nav>

    <div class="col-2 w-100">
      <button type="button" class="button btn btn-outline-dark w-100" routerLink="/simulation/create">
        <fa-icon [icon]="icons.faPlus"></fa-icon>
      </button>
    </div>

  </div>

  <!-- simulation list -->

  <div class="list-group">


    <div class="list-group-item list-group-header">
      <div class="row">
        <div class="col-3">
          <input type="text" class="form-control-sm small-button" (keyup)="onTextFilter(inputTextFilter.value)"
                 #inputTextFilter placeholder="Search by name">
        </div>
      </div>
    </div>
    <div class="list-group-item list-group-header">
      <div class="row">
        <div class="col-3 text-center">name</div>
        <div class="col-1 text-center">population</div>
        <div class="col-1 text-center">simulation days</div>
        <div class="col-1 text-center">days to death</div>
        <div class="col-1 text-center">days to recover</div>
        <div class="col-1 text-center">initial infected</div>
        <div class="col-1 text-center">mortality</div>
        <div class="col-1 text-center">reproduction</div>
        <div class="col-1 text-center">edit</div>
        <div class="col-1 text-center">view</div>
      </div>
    </div>

    <div routerLink="/simulation/{{simulation.id}}" class="link-hover list-group-item list-group-item-action"
       *ngFor="let simulation of simulationsPaginated$ | async">
      <div class="row">
        <div class="col-3 text-center">{{simulation.name}}</div>
        <div class="col-1 text-center">{{simulation.population}}</div>
        <div class="col-1 text-center">{{simulation.daysOfSimulation}}</div>
        <div class="col-1 text-center">{{simulation.daysToDeath}}</div>
        <div class="col-1 text-center">{{simulation.daysToRecover}}</div>
        <div class="col-1 text-center">{{simulation.initInfected}}</div>
        <div class="col-1 text-center">{{simulation.mortality}}</div>
        <div class="col-1 text-center">{{simulation.reproduction}}</div>
        <div class="col-1">
          <button type="button" class="small-button btn-sm btn-outline-dark w-100" routerLink="/simulation/edit/{{simulation.id}}">
            <fa-icon [icon]="icons.faEdit"></fa-icon>
          </button>
        </div>
        <div class="col-1">
          <button type="button" class="small-button btn-sm btn-outline-dark w-100" routerLink="/simulation/{{simulation.id}}">
            <fa-icon [icon]="icons.faBookOpen"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refresh()">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshPageSize()">
        <option [ngValue]="2">2 per page</option>
        <option [ngValue]="5" selected>5 per page</option>
        <option [ngValue]="10">10 per page</option>
      </select>
    </div>

  </div>
</div>
